

.card_body{
    /* background-color: #212529; */
    background-color: black;
 
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
 
 
 }
 
 .card_image{
    height: 14rem;
    width: 100%;
    object-fit:fill;
    margin-bottom: 20px;
    border-radius: 3rem;
 }
 
 .card_title{
    padding: 0.2rem;
    text-align: center;
    color:aqua
 }
 
 .card_title:hover{
    transform: scale(1.2);
 }
 
 
 
 .card_btn {
    padding: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
   
    border: 2px solid aqua;
    background-color: aqua;
    border-radius: 1rem;
    transition: 200ms ease-in, color 200ms ease-in;
   
   
 }
 
 
 .card_body:hover{
    background-color:aqua;
    transform: scale(1.15);
 }
 .card_body:hover .card_title{
    color: black
 }
 
 .card_body:hover .card_btn{
    background-color: black;
    color: white;
 }
 
 .card_btn:hover  {
    color: white;
    transform: scale(1.09);
 }