#reviews-page {
    background-image: url('../3.jpg');
    background-size: 1500px 1800px;
    /* background-size: cover; */
   min-height: 100vh;
}
.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}
.reviews-child {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.reviews-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    margin-left: 10px;
    color: white;
}
.bootcamp-image {
    width: 50%;
    border-radius: 10px;
}
.form-child {
    margin-top: 100px;
    background-image: url('../7.png');
    background-size: cover;
    color: black;
    padding: 20px;
    border-radius: 15px;
    position: sticky; top: 0px;
    height: 50%;
    width: 45%;
}