#card {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: solid 3px black;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
    color: white;
}


.stars-name {
    display: flex;
    flex-direction: column;
}

.stars-ago {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#stars {
    font-size: 30px;
    color: darkblue;
    margin-top: 0px;
    margin-bottom: 0px;
}

#time-ago {
    font-size: 14px;
}

#username {
    font-size: 14px;
    align-self: flex-start;
}

.review-button {
    font-size: 20px;

}

#review-comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    border: solid gray;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;

}

#show-comments-btn {
    font-size: 10px;
    border-radius: 5px;
    width: 100px;
}