#reviews-page {
    background-image: url('https://images5.alphacoders.com/390/390081.jpg');
}

.reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.reviews-child {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.reviews-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    margin-left: 10px;
    color: white;
}

.bootcamp-image {
    width: 50%;
}



.form-child {
    margin-top: 100px;
    background-color: lightblue;
    color: white;
    padding: 20px;
    border-radius: 15px;
    position: sticky; top: 0px;
    height: 50%;
    width: 45%;

}